*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-image: url('../images/404.jpg');

    /* background-image: url('../images/biblioteca.jpg');
    font-family: 'Exo 2', sans-serif; */

}