body{
    color: white;
    min-height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url('../images/biblioteca.jpg')!important;
    /* background-image: url('../images/biblioteca.jpg');
    font-family: 'Exo 2', sans-serif; */

}

table, th, td {
    border:2px solid #c2996b;
    padding: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    
}